@charset "utf-8";
main.home.reserves{
  .reserve-list{
    span.label{
      display: inline-block;
    }
    li {
      cursor: pointer;
      a{
        display: block;
      }
    }
  }
  span.label{
  }
}