@charset "utf-8";
/***** 汎用 *****/
* {
  font-family:"Lato","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
  Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  //box-sizing: border-box!important;
}

html, body{
  height: 100%;
  color: #444;
}
.wrap{
  height: 100%;
}

body, div#wrap {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
img{
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
/***** 汎用ここまで *****/
h1, h2, h3, h4, h5, h6{
  color: $primary-color;
}
main{
  margin: 0 auto;
  padding: 1rem 1.1rem 0;
}
footer{
  color:#ccc;
  font-size: .9rem;
}

input{
  padding: .6rem .3rem;
  font-weight: normal;
}
//side nav
#nav-mobile{
  width: 200px;
}

//button area
.btn-box{
  text-align: center;
  button{
    margin: 0 1rem;
  }
}

/* 599px以下 (スマホサイズ) */
@media (max-width: 599px) {
  main{
    width: auto;
  }
}

/* 768px以上 (PCサイズ) */
@media (min-width: 768px) {
  main{
    width: $pc-width;
  }
}