@charset "utf-8";
main.index.root{
  min-height: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
 h2{
   font-size: 1.8em;
   margin-bottom: 1.6rem;
   font-weight: bold;
 }
  .search-box{
    position: relative;
    input{
      box-sizing: border-box;
      border: 1px solid #ddd;
      margin-bottom: 0!important;
      padding-left: .8rem;
      border-radius: 2px;
      font-size: 1.1em;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                  0 1px 5px 0 rgba(0,0,0,0.12),
                  0 3px 1px -2px rgba(0,0,0,0.2);
    }
    button{
      position: absolute;
      right: 10px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 .5rem;
      background: none;
      border:none;
    }
    i{
      font-size: 1.1rem;
    }
  }
  form.search{
    width: 90%;
    max-width: 500px;
  }
}