@charset "utf-8";
main.login{
  .input-field{
    margin-bottom: 1.6rem;
  }
  .remember{
    margin-bottom: 1rem;
  }
  .btn-box{
    text-align: center;
    margin-bottom: 1.6rem;
  }
  a.remind{
    color: #ccc;
    font-size: .8rem;
  }
  .help-block{
    color: crimson;
    margin-bottom: 1rem;
    font-size: .9rem;
  }
}