@charset "utf-8";

main.space.check {
    .option{
        li{
            display: flex;
            align-items: center;
            font-size: 1.1em;
            margin-bottom: .5em;
            i{
                color: $secondary-color;
                margin-right: .2em;
            }
        }
        p{
            font-size: 1.1em;
        }
    }
}