@charset "utf-8";

main.space.create {
    section.base-info {
        &>.row {
            margin-bottom: 18px;
        }
    }
    .options{
        .option{
            margin-bottom: .6rem;
        }
    }
    .help-block{
        display: inline-block;
        width: 100%;
        strong{
            margin-left: 3rem;
            font-weight: bold;
            background: linear-gradient(transparent 60%, #ffff66 60%);
            color: darken(crimson, 5%);
            &::before{
                content:"\26A0";
            }
        }
    }
}