@charset "utf-8";

main.space.input{
  form.reserve{
    .input-field.select-box{
      margin-bottom: 2.6rem;
    }
    .has-error{
      label{
        color: crimson;
      }
    }
    .help-block{
      font-size: .8rem;
      color: lighten(crimson, 25%);
      margin-bottom: 1rem;
      &::before{
        content: "\1F6AB";
      }
    }

    .btn-box{
      text-align: center;
      button:first-of-type{
        margin-right: 1rem;
      }
    }
  }
}
