@charset "utf-8";

main.space.reserve-flow{
  .space-info{
    max-width: 400px;
    img{
      max-width: 100%;
      margin-bottom: .3rem;
    }
    .text{
      display: flex;
      flex-direction: column;
      padding: .5rem;
      margin-bottom: 1.8rem;
      .name{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: .4rem;
      }
      .rate{
        display: flex;
        align-items: center;
        i{
          font-size: .8rem;
          color: forestgreen;
          margin-right: 1px;
        }
      }
    }
  }
}