@charset "utf-8";
$purchase-area-height: 60px;

main.space.reserve{
  .input-check{
    label{
      margin-bottom: .4rem;
      display: block;
    }
    &>div{
      margin-bottom: 1.4rem;
    }
  }
  .hidden{
    display: none;
  }
}
