@charset "utf-8";
main.space.search{
  form.search{
    margin-bottom: 1.8rem;
  }
  .search-box{
  }
  .search-around{
    a{
      background-color: $primary-color;
      width: 100%;
    }
  }
  .search-word{
    display: flex;
    align-items: center;
    color: #999;
    i{
      margin-right: .4rem;
    }
    b{
      margin-right: .2rem;
    }
  }
  ul.space-list{
    max-width: 400px;
    margin: 0 auto;
  }
  li{
    margin-bottom: 2rem;
    a{
      display: block;
      //position: relative;
    }
    .image{
      height: 270px;
    }
    .text{
      display: flex;
      flex-direction: column;
      padding: .8rem .9rem;
      .name{
        font-size: 1.3rem;
        margin-bottom: .4rem;
      }
      .price{
        margin-bottom: .6rem;
      }
      .rate{
        display: flex;
        align-items: center;
        i{
          font-size: .8rem;
          color: forestgreen;
          margin-right: 1px;
        }
      }
    }
    .place{
      display: inline-block;
      color: #888;
      position: absolute;
      right: 10px;
      bottom: 8px;
      i{
        font-size: 1em;
      }
    }
  }
  ul.pagination{
    margin-top: 1.5em;
    text-align: center;
  }
}