@charset "utf-8";
$purchase-area-height: 60px;

.wrap{
  position: relative;

  .bottom-fixed-btn-box{
    position: fixed;
    padding: 0 1.6rem;
    bottom: 0;
    height:$purchase-area-height;
    width: 100%;
    display: flex;
    z-index: 1;
    background-color: white;
    align-items: center;
    border-top: 1px solid #ddd;
    .price-box{
      font-size: 1.1rem;
      .price{
        font-weight: bold;
      }
    }
    .btn-box{
      text-align: right;
      flex:auto;
    }
  }
}

main.space.show{
  margin-bottom: $purchase-area-height + 10px; //purchase用
  padding: 0;
  article{
    .image{
      height: 270px;
    }
    .text{
      padding: .6rem 1.5rem 0;
      .name{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: .4rem;
      }
      .under-title{
        &>div{
          display: inline-block;
        }
      }

      .address-short{
        margin-right: 5rem;
        color: #888;
        i{
          margin-right: .2rem;
          font-size: 1.1em;
        }
      }
      .rate{
        display: flex;
        align-items: center;
        i{
          font-size: .8rem;
          color: forestgreen;
          margin-right: 1px;
        }
      }
      p.description{
        line-height: 1.3;
        margin-top: 2rem;
        color: #666;
      }
      .option{
        li{
          display: flex;
          align-items: center;
          font-size: 1.1em;
          margin-bottom: .5em;
          i{
            color: $secondary-color;
            margin-right: .2em;
          }
        }
        p{
          font-size: 1.1em;
        }
      }
      .food{
        p{
          margin-left: 1.2rem;
        }
      }
    }
    #space-map{
      height: 300px;
    }
  }
  @media (min-width: 768px){
    width: 100%;
    article{
      .image{
        height: 700px;
      }
      .text{
        max-width: 600px;
        min-height:600px;
      }
    }
  }
}
